body { 
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
}

* {
	box-sizing: border-box;
	touch-action: manipulation
}

*:focus {
    outline: none;
}


body > div {
	display: flex;
	flex-wrap: nowrap;
	width: 100vw;
	height: 100vh;
	border: 1px solid black;
}

button#openfilesystem {
	width: 100%;
	height: 10em;
	border: none;
	background: none;
}

button:hover {
	text-decoration: underline;
	cursor: pointer;
}

div#workingarea {
	width: min(100% - 30ch, 90vw);
	min-width: min(100% - 30ch, 90vw);
	max-width: min(100% - 30ch, 90vw);
	height: 100%;
	background-color: gray;
	border: 1px solid black;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

div#controls {
	display: flex;
	flex-wrap: nowrap;
	border-bottom: 3px solid dimgray;
}

button.control {
	height: 2em;
	border: 1px solid black;
	background-color: white;
}
button.control.disabled {
	background-color: gray;
}
button.control.long {
	flex: 1 1 auto;
}
button.control.square {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2em;
	flex: 0 0 auto;
}
button.control.square > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}
button.control.square:hover > img {
	color: red;
}

div#working {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	display: flex;
	flex-wrap: nowrap;
	max-height: 100%;
}

div.device {
	height: 100%;
	flex: 1 1 0;
	background-color: gray;
	border: none;
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
}

div.device.disabled {
	display: none !important;
}

div#viewcontrols {
	display: flex;
	flex: 1;
}




div#filepanel {
	width: max(30ch, 10vw);
	min-width: max(30ch, 10vw);
	max-width: max(30ch, 10vw);
	height: 100%;
	background-color: white;
	border: 1px solid black;
	overflow-y: scroll;
	overflow-x: hidden;
}
ul.filesystem.entries {
	margin: 0;
	padding-inline-start: 2ch;
}
details.filesystem.folder > summary {
	white-space: nowrap;
	list-style: none;
}
li.filesystem.file {
	white-space: nowrap;
	list-style: none;
	list-style-type: none;
	padding-left: 1em;
}
button.filesystem {
	background: none;
	border: none;
}
button.filesystem:hover {
	text-decoration: underline;
}
details.filesystem.folder > summary::before {
    width: 1em;
    content: "🗀";
    display: inline-block;
}
details.filesystem.folder[open] > summary::before {
    width: 1em;
    content: "📂";
    display: inline-block;
}


div.device#code {
	flex-direction: column;
}
div#filelist {
	font-size: smaller;
	width: 100%;
	height: 2em;
	max-height: 2em;
	display: flex;
	flex-wrap: nowrap;
}
div#editors {
	font-size: smaller;
	width: 100%;
	height: calc(100% - 2em - 2px);
}
div#editlist {
	height: 2em;
	max-height: 2em;
	flex-direction: row;
	flex-wrap: nowrap;
	display: flex;
	overflow-y: hidden;
	overflow-x: auto;
}
button.editor {
	border: none;
	background: none;
	height: 2em;
	max-height: 2em;
	padding: 0;
	padding-left: 7px;
	padding-right: 9px;
}
button.editor:hover {
	text-decoration: underline;
}
button.closeeditor {
	border: none;
	background: none;
	height: 2em;
	padding: 0;
	padding-right: 7px;
}
div.editor {
	border: 1px solid black;
	border-bottom: none;
	display: flex;
	flex-shrink: 0;
	background-color: white;
	height: 2em;
	max-height: 2em;
}
div.editor.hidden {
	border-bottom: 1px solid black;
	background-color: gray;
}
div.editorwrapper {
	font-size: initial;
	height: 100%;
	width: 100%;
	padding-top: 2px;
	background-color: white;
}
div.editorwrapper.hidden {
	display: none;
}



::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}






div#screen {
	display: flex;
	flex-direction: column;
	margin: 0.5em;
	width: calc(100% - 1em);
	height: calc(100% - 1em);
	background: none;
}
div#screensettings {
	padding-top: 1em;
	display: flex;
	align-content: center;
}
div#screensettings > input {
    flex: 0 0 auto;
	width: 5em;
}
canvas.screen {
	background-color: transparent;
	object-fit: contain;
	max-width: 100%;
	max-height: calc(100% - 4em);
	min-width: 0;
	min-height: 0;
	width: auto;
	height: auto;
	image-rendering: pixelated;
}



.device#console {
	font-family: monospace;
	display: flex;
	margin: 0.5em;
	width: calc(100% - 1em);
	height: calc(100% - 1em);
	position: relative;
	/*flex-grow: 0;*/
	/*flex-shrink: 0;*/
	container-type: inline-size;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
div#consolewrapper {
	font-family: monospace;
	min-width: 0;
	--font-aspect-ratio: calc(tan(atan2(1ch, 1px)) / tan(atan2(1em, 1px)));
	/*position: absolute;*/
    line-height: 1.1em;
    /*width: 100%;*/
    /*width: 100cqw;*/
    height: calc(min(100cqw / (var(--w) / (var(--h) * 1.1) * var(--font-aspect-ratio)), 100% - 8em));
    /*height: 100%;*/
	/*width: calc(var(--w) * 1ch);*/
	/*aspect-ratio: calc((var(--w) * 1ch) / (var(--h) * 1.1em));*/
	aspect-ratio: calc(var(--w) / (var(--h) * 1.1) * var(--font-aspect-ratio));
	/*aspect-ratio: calc((var(--w) * tan(atan2(1ch, 1px))) / (var(--h) * tan(atan2(1.1em, 1px))));*/
	font-size: calc(100cqw / (var(--w) * var(--font-aspect-ratio)));
	flex-shrink: 1;
	flex-grow: 0;
	isolation: isolate;
}
canvas#consolefg {
	aspect-ratio: inherit;
	inset: 0;
	display: none;
	image-rendering: pixelated;
	width: inherit;
	height: inherit;
    position: absolute;
	background-color: transparent !important;
	/*mix-blend-mode: multiply;*/
	pointer-events: none;
	will-change: transform;
}
canvas#consolebg {
	aspect-ratio: inherit;
	image-rendering: pixelated;
	width: inherit;
	height: inherit;
    position: absolute;
	mix-blend-mode: multiply;
	background-color: transparent !important;
}
div#consoletext {
	aspect-ratio: inherit;
	font-size: inherit;
	/*width: inherit;*/
	/*height: inherit;*/
    position: absolute;
	/*isolation: isolate;*/
}
div#consoletextbg {
	aspect-ratio: inherit;
	width: inherit;
	height: inherit;
    position: absolute;
	/*isolation: isolate;*/
}

div#consolefgwrapper{
	aspect-ratio: inherit;
	/*width: inherit;*/
	/*height: inherit;*/
	position: absolute;
	inset: 0;
	isolation: isolate;
}

pre#consoletext {
	overflow: clip;
	aspect-ratio: inherit;
	font-size: inherit;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	position: absolute;
	/*color: #ffffff;*/
	color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-clip: text;
	/*width: inherit;*/
	/*height: inherit;*/
    position: absolute;
	/*mix-blend-mode: multiply;*/
	margin: 0;
}

pre#consoletextbg {
	aspect-ratio: inherit;
	background-color: #ffffff;
	position: absolute;
	color: transparent;
	/*width: inherit;*/
	/*height: inherit;*/
    position: absolute;
	/*mix-blend-mode: multiply;*/
	margin: 0;
}

/*pre#consoletext::selection {
	color: #ffffff80;
}*/
canvas#consoleselection {
	aspect-ratio: inherit;
	display: none;
	image-rendering: pixelated;
	width: inherit;
	height: inherit;
    position: absolute;
    mix-blend-mode: difference;
}


div#consolecursor {
	aspect-ratio: inherit;
    position: absolute;
    width: 1ch;
    height: 0.2em;
    mix-blend-mode: difference;
    top: calc(0.0em + var(--y) * 1.1em + 1.1em - 0.2em);
    left: calc(0.0em + var(--x) * 1ch);
    backdrop-filter: invert(1);
    pointer-events: none;
    z-index: 10;
    font-family: inherit;
    font-size: inherit;
}
textarea#consoleinput {
	resize: none;
	width: 100%;
	/*position: absolute;*/
	height: 6em;
}


pre#consoletext > span {
    /*text-shadow: 0.05px 0 0 rgba(currentColor, 0.25);*/
}
pre#consoletext > span.b {
    font-weight: bold;
    text-shadow: 0.5px 0 0 currentColor;
}
pre#consoletext > span.f {
    font-weight: lighter;
    text-shadow: none;
}
pre#consoletext > span.i {
    font-style: italic;
}
pre#consoletext > span.u {
    text-decoration: underline;
}
pre#consoletext > span.s {

}
pre#consoletext > span.r {

}
pre#consoletext > span.I {
    color: var(--b);
    background-color: var(--c);
}
pre#consoletext > span.h {
    position: relative;
}
pre#consoletext > span.h {
    color: grey !important;
    background-color: grey !important;
    outline: 1px black solid;
}
pre#consoletext > span.h:hover {
    color: var(--c) !important;
    background-color: var(--b) !important;
}
pre#consoletext > span.h.I:hover {
    color: var(--b) !important;
    background-color: var(--c) !important;
}
pre#consoletext > span.x {
    text-decoration: line-through;
}
pre#consoletext > span.d {
    text-decoration-line: underline;
    text-decoration-style: double;
}
pre#consoletext > span.u.x {
    text-decoration: underline line-through;
}
pre#consoletext > span.x.d {
    text-decoration: underline line-through;
    text-decoration-style: double;
}






div.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000a0;
}

div.overlaywrapper {
	border: solid 1px black;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-top: 5vh;
	height: 90vh;
	width: 80vw;
}

div.overlaycontents {
	background-color: white;
	width: 100%;
	height: calc(90vh - 2em - 2px);
	display: flex;
}

div.overlayheader {
	width: 100%;
	background-color: gray;
	height: 2em;
	margin: 0;
	align-items: center;
	display: flex;
	border-bottom: solid 1px black;
}

h1.overlayname {
	margin: 0;
	font-size: larger;
	margin-left: 0.2em;
	/*width: calc(100% - 3em);*/
	flex-grow: 1;
	flex-shrink: 0;
}

button.overlayclose {
	width: 2em;
	height: 2em;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	flow: right;
	flex-grow: 0;
	flex-shrink: 0;
}

div.overlaytabs {
	width: 20vw;
	height: 100%;
	background-color: gray;
	display: flex;
	flex-direction: column;
	border-right: solid 1px black;
	box-sizing: border-box;
}

button.overlaytab {
	height: 3em;
	justify-content: flex-start;
	display: inline-flex;
	align-items: center;
	background-color: white;
	border: solid 1px black;
	border-right: none;
	margin-right: -1px;
}
button.overlaytab.disabled {
	background-color: gray;
	border-right: solid 1px black;
}

div.overlaycurrentpage {
	border-top: solid 1px black;
	width: 100%;
	height: 100%;
	background-color: white;
	padding-left: 1.4em;
	padding-right: 1.4em;
	overflow-y: scroll;
	overflow-x: hidden;
}

div.overlaypage {
}

div.overlaypage.disabled {
	display: none;
}
h4 {
	margin-bottom: 0.7em;
}
p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
kbd {
	padding: 0.1em;
	border: solid 1px black;
	border-radius: 3px;
	margin-right: 1em;
}
table {
	border-collapse: separate;
	border-spacing: 2em 0.5em;
}





div.drivelist {
	max-height: calc(100% - 3em);
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1 0 0;
}
button#adddrive {
	width: 3em;
	height: 3em;
}
div.drive {
	display: flex;
	flex-direction: row;
	height: 4em;
}
div.drivecontents {
	display: flex;
	flex-direction: column;
	height: 4em;
	margin: 0;
	flex: 1 0 0;
	min-width: 0;
}
button.deletedrive {
	font-size: medium;
	width: 4em;
	height: 4em;
	flex: 0 0 4em;
}
div.drivepath {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: 2em;
}
div.drivedroppath {
	flex: 0.2 1 0;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: white;
	border: solid 1px black;
}
div.driveinfo {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	height: 2em;
}
div.drivepath > input {
	flex: 1 1 0;
	min-width: 0;
}
div.driveinfo > input {
	flex: 1 1 0;
	min-width: 0;
}
div.driveinfo > select {
	flex: 1 1 0;
	min-width: 0;
}